<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eglė Motiejūnaitė</title>
</head>
<body>
    <h1>Studentė</h1>
    <h2>Eglė Motiejūnaitė</h2>
    <img src="https://images.pexels.com/photos/3280174/pexels-photo-3280174.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="300" height="400">
    <hr>
    <a href="/">atgal į PTU8 grupės puslapį</a> 
</body>
</html>